name: main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  validate:
    strategy:
      matrix:
        example:
          - simple
    name: validate
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: "actions/checkout@v5"
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@v2
        with:
          version: 2024.10.0
          install: true
          experimental: true
          log_level: debug
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Consul
        run: |
          curl -fSL https://releases.hashicorp.com/consul/1.12.3/consul_1.12.3_linux_amd64.zip \
          | gunzip -> consul ; chmod u+x consul
      - name: Start Consul dev server
        run: ./consul agent -server -dev &
      - name: Init terraform
        run: terraform -chdir=examples/${{ matrix.example }} init
      - name: Validate terraform
        run: terraform -chdir=examples/${{ matrix.example }} validate
  release:
    needs:
      - validate
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: |
          npm install -D '@semantic-release/commit-analyzer' \
          '@semantic-release/release-notes-generator' \
          '@semantic-release/changelog' \
          'semantic-release-license' \
          '@semantic-release/github'
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
